body {
  background: #f2f2f2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link,
a:visited {
  color: #2D69BF;
  text-decoration: none;
}
a:hover,
a:active {
  color: #2CA4BF;
  text-decoration: underline;
}

.Header {
  background: #2CA4BF;
  margin-bottom: 8px;
  width: 100%;

  & header {
    max-width: 860px;
    margin: auto;
    display: flex;

    nav {
      flex-basis: 100%;

      a {
        color: #000;
        margin: 0 8px;

        &:hover {
          font-weight: bold;
          text-decoration: none;
          margin: 0 7px;
        }

        &.active {
          font-weight: bold;
        }
      }
    }

    .UserManager {
      flex-basis: 100%;
      text-align: right;

      &:not(.logged-in) {
        .fa {
          opacity: 0.4;
        }
      }

      .fa {
        margin-left: 5px;
      }
    }
  }
}

.BugTable {
  border-collapse: collapse;
  margin: 10px 0;

  &__head {
    border-bottom: 2px solid #8C7161;
    padding: 4px 5px;
    font-weight: normal;
  }

  &__data,
  &__data--center,
  &__data--right {
    height: 48px;
    max-width: 400px;
    padding: 4px 5px;
    text-align: left;
    vertical-align: top;
  }

  &__data--right {
    text-align: right;
  }

  &__data--center {
    text-align: center;
  }
}

.AssignedTo {
  display: flex;
  align-items: center;
  max-width: 180px;

  &__avatar,
  &__avatar--empty {
    background-color: #f0f0f0;
    display: inline-block;
    height: 36px;
    margin-top: 1px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    width: 36px;
  }

  &__avatar--empty {
    margin-right: 10px;
  }
}

.StateProgress,
.StateProgress--unknown {
  display: inline-block;
  font-size: 0.8em;
  width: 64px;

  &__bar {
    display: flex;
    height: 12px;

    &__cell,
    &__cell--filled,
    &__cell--empty {
      flex: 1 1;
      margin-right: 1px;
    }

    &__cell--filled {
      background: #2C96Bf;
    }

    &__cell--empty {
      background: #8C7161;
    }
  }
}
