body {
  background: #f2f2f2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link,
a:visited {
  color: #2D69BF;
  text-decoration: none;
}
a:hover,
a:active {
  color: #2CA4BF;
  text-decoration: underline;
}

.Header {
  background: #2CA4BF;
  margin-bottom: 8px;
  width: 100%;

  & header {
    max-width: 860px;
    margin: auto;
    display: flex;

    nav {
      flex-basis: 100%;

      a {
        color: #000;
        margin: 0 8px;

        &:hover {
          font-weight: bold;
          text-decoration: none;
          margin: 0 7px;
        }

        &.active {
          font-weight: bold;
        }
      }
    }

    .UserManager {
      flex-basis: 100%;
      text-align: right;
      position: relative;

      &:not(.logged-in) {
        .fa {
          opacity: 0.4;
        }
      }

      .fa {
        margin-left: 5px;
      }

      &__LoginForm,
      &__LogoutForm {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        padding: 10px;
        position: absolute;
        right: -20px;
        top: 30px;
        z-index: 1;

        &::before {
          position: absolute;
          width: 14px;
          height: 14px;
          background: #fff;
          content: " ";
          top: -6px;
          right: 22px;
          box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
          transform: rotate(45deg);
        }
      }
    }
  }
}

.BugTable {
  border-collapse: collapse;
  margin: 10px 0;

  &__head {
    border-bottom: 2px solid #8C7161;
    padding: 4px 5px;
    font-weight: normal;
  }

  tr:nth-child(2n) {
    background: #e7e7e7;
  }

  &__data,
  &__data--center,
  &__data--right {
    height: 48px;
    max-width: 400px;
    padding: 4px 5px;
    text-align: left;
    vertical-align: top;
  }

  &__data--right {
    text-align: right;
  }

  &__data--center {
    text-align: center;
  }

  &__LinkList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sort-order {
    text-align: right;
    width: 35px;
  }
}

.ProgressIndicator {
  display: inline-block;
  margin: 4px 10px;
  padding: 4px 10px;
  background: #fdd;
  border-radius: 3px;
}

.AssignedTo {
  align-items: center;

  &__avatar,
  &__avatar--empty {
    background-color: #f0f0f0;
    display: inline-block;
    height: 36px;
    margin-top: 1px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    width: 36px;
  }

  &__avatar--empty {
    margin-right: 10px;
  }
}

.StateProgress,
.StateProgress--unknown {
  display: inline-block;
  font-size: 0.8em;
  width: 64px;

  &__bar {
    display: flex;
    height: 12px;

    &__cell,
    &__cell--filled,
    &__cell--empty {
      flex: 1 1;
      margin-right: 1px;
    }

    &__cell--filled {
      background: #2C96Bf;
    }

    &__cell--empty {
      background: #8C7161;
    }
  }
}

.Footer {
  margin: 1em 1em 2em 1em;
  padding: 1em;
  border: 1px solid #666;
}

.WhiteboardGroup {
  color: #444;
  display: block;
  font: 0.9em mono;
}

.NeedinfoGroup__Data {
  background: orange;
  border: 2px darkorange solid;
  border-radius: 4px;
}

.PullRequestLink {
  &--closed {
    opacity: 0.5;

    &.PullRequestLink--merged::after {
      content: "\2713" // U+2713 CHECK MARK
    }
    &:not(.PullRequestLink--merged)::after {
      content: "\274C" // U+274C CROSS MARK
    }
  }
}

.SecureWarning {
  margin-right: 5px;
}
